<main>
    <h1>Rebel Application Portfolio</h1>

    <body>
        <button md-button color="primary">FLAT</button>
        <button md-raised-button>RAISED</button>
        <button md-icon-button>
            <md-icon class="md-24">favorite</md-icon>
        </button>
        <button md-fab>
            <md-icon class="md-24">add</md-icon>
        </button>
        <button md-mini-fab>
            <md-icon class="md-24">add</md-icon>
        </button>
        <md-toolbar color="primary">
            <span>Application Title</span>
            <!-- This fills the remaining space of the current row -->
            <span class="example-fill-remaining-space"></span>
            <span>Right Aligned Text</span>
        </md-toolbar>
    </body>
</main>
