<div>
    <div class="ContentSideSections">
        <div>
            <span class="fontSize30 TextShadow orange marginBottom20 dispBlock">Responsive</span>
            <span class="defaultText">.ui-fluid style class provides fluid width to components for efficient use of space in screen.
                This example demonstrates ui-fluid in combination with Grid CSS and the components having built-in responsive modes like datatable. Note that Grid CSS is not mandatory, any grid system 
                can be used with ui-fluid.</span>
        </div>
    </div>

<h1>Dashboard</h1>
<dashboard-card [appTitle]="'Storyboard'" [appLink]="'storyboard'"></dashboard-card>
<dashboard-card [appTitle]="'Storyboard2'" [appLink]="'storyboard'"></dashboard-card>
</div>

