<md-grid-list cols="4" gutterSize="4px" rowHeight="400px">
   <md-grid-tile class="sb-grid"><storyboard-lane [phase]="1"></storyboard-lane></md-grid-tile>
   <md-grid-tile class="sb-grid"></md-grid-tile>
   <md-grid-tile class="sb-grid"></md-grid-tile>
   <md-grid-tile class="sb-grid"></md-grid-tile>
</md-grid-list>

<span class="app-action">
  <button md-fab (click)="toggleEdit()"><md-icon>add circle</md-icon></button>
</span>


  <div class="row">
      <div class="col s12">This div is 12-columns wide</div>
      <div class="col s6">This div is 6-columns wide</div>
      <div class="col s6">This div is 6-columns wide</div>
    </div>