
@import '../common/style.variables';
@import '../common/grid/grid.system.scss';

@include grid-system;


.sb-lane {
    
	border:1px;
	border-style:solid;
	border-color:black;

	background: md-color($accent);

    h3 {
        text-align: center;
    }

    ul.sb-grid {

        min-height: 30em;

        list-style-type: none;
        width: 100%;
        -webkit-padding-start: 0px;

        li {

            width: 100%;
            display: inline-block;

            .sb-card-container {

                min-width: 15em;
            }

        }
    }

}

