<div class="grid-container">
    <div class="grid-4">
        <storyboard-lane [phase]="1" [laneTitle]="'To Do'"></storyboard-lane>
    </div>
    <div class="grid-4">
        <storyboard-lane [phase]="2" [laneTitle]="'In Developement'"></storyboard-lane>
    </div>
    <div class="grid-4">
        <storyboard-lane [phase]="3" [laneTitle]="'In QA'"></storyboard-lane>
    </div>
    <div class="grid-4">
        <storyboard-lane [phase]="4" [laneTitle]="'Done'"></storyboard-lane>
    </div>
</div>
<span class="app-action">
  <button md-fab (click)="toggleEdit()"><md-icon>add circle</md-icon></button>
</span>
