<div>
    <form (ngSubmit)="onSubmit()" #storyForm="ngForm">
        <div class="form-group">
            <md-input placeholder="Story Title" id="title" required class="form-control" name="firstName" [(ngModel)]="story.title"></md-input>
        </div>
        <div class="form-group">
            <md-input placeholder="Description" id="description" required class="form-control" name="firstName" [(ngModel)]="story.description"></md-input>
        </div>
        <div class="form-group">
            <md-input placeholder="Points" id="points" required class="form-control" name="firstName" [(ngModel)]="story.points"></md-input>
        </div>
        <button md-raised-button type="Submit" name="btnSubmit" class="btn btn-default">Submit</button>
    </form>
</div>
