<div>Story Board</div>
<p-overlayPanel #op1 [dismissable]="true">
    <story-edit></story-edit>
</p-overlayPanel>
<button type="button" pButton label="Basic" (click)="op1.toggle($event)"></button>
<div class="ui-grid ui-grid-pad ui-grid-responsive">
    <div class="ui-grid-row">
        <storyboard-lane phase='1' class="flow"></storyboard-lane>
        <storyboard-lane phase='2' class="flow"></storyboard-lane>
        <storyboard-lane phase='3' class="flow"></storyboard-lane>
        <storyboard-lane phase='4' class="flow"></storyboard-lane>
    </div>
</div>
