
@import '../common/style.variables';
@import '../common/grid/grid.system.scss';

@include grid-system;


.sb-lane {
    min-height: 30em;
    min-width: 15em;  

	border:1px;
	border-style:solid;
	border-color:black;

	background: md-color($accent);

    h3 {
        text-align: center;
    }

}

